<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from netizensstore.com/gymfit_theme/html/html/multipage_4/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 15 Feb 2022 16:13:29 GMT -->
<head>
    <title>Gymfit-Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{asset('front/assets/img/main-page/favicon.png')}}" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://trustedhotmart.com/?cid=exrated/" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://trustedhotmart.com/?cid=exrated/" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://trustedhotmart.com/?cid=exrated/">
    <link rel="stylesheet" href="{{asset('front/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('front/assets/css/bootsnav.css')}}">
    <link rel="stylesheet" href="{{asset('front/assets/css/owl.carousal.css')}}">
    <link rel="stylesheet" href="{{asset('front/assets/css/owl.theme.default.css')}}">
    <link rel="stylesheet" href="{{asset('front/assets/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{asset('front/assets/css/sm-clean.css')}}">
    <link rel="stylesheet" href="{{asset('front/assets/css/sm-core-css.css')}}">
    <link rel="stylesheet" href="{{asset('front/assets/css/responsive.css')}}">
</head>
<body>
<!-- header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="main-nav" role="navigation">

                    <!-- Mobile menu toggle button (hamburger/x icon) -->
                    <input id="main-menu-state" type="checkbox" />
                    <label class="main-menu-btn" for="main-menu-state"> <span class="main-menu-btn-icon"></span> Toggle main menu visibility </label>
                    <h2 class="nav-brand"><a href="../../multipage_4/multipage_4/index.html"><img src="{{asset('front/assets/img/main-page/logo.png')}}" alt="Gymfit" class="img-fluid"></a></h2>
                    <!-- Sample menu definition -->
                    <ul id="main-menu" class="sm sm-clean">
                        <li><a href="../../multipage_4/multipage_4/index.html">Home</a></li>
                        <li><a href="../../multipage_4/multipage_4/about.html">About Us</a></li>
                        <li><a href="../../multipage_4/multipage_4/course.html">Courses</a></li>
                        <li><a href="../../multipage_4/multipage_4/schedule.html">Schedule</a></li>
                        <li><a href="../../multipage_4/multipage_4/blog.html">Blog</a></li>
                        <li><a href="#">Pages</a>
                            <ul>
                                <li><a href="../../multipage_4/multipage_4/trainers.html">Trainers</a></li>
                                <li><a href="../../multipage_4/multipage_4/coming-soon.html">Coming Soon</a></li>
                                <li><a href="../../multipage_4/multipage_4/error.html">Error</a></li>
                            </ul>
                        </li>
                        <li class="last_menu"><a href="../../multipage_4/multipage_4/contact-us.html">Get In Touch</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- end header -->

<!-- start header banner section -->
<section class="hero-blog-banner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="banner-content-section">
                    <div class="banner-img-section"><h2>Blog</h2></div>
                    <div class="content-section">
                        <p><a href="#">HOME</a> <span><img src="{{asset('front/assets/img/inner-page/header-arrow.png')}}" alt="Gymfit" class="img-fluid"></span> <a href="#">BLOG</a></p>
                    </div>
                </div>
            </div>
            <div class="down-arrow"> <img src="{{asset('front/assets/img/main-page/down-arrow.png')}}" alt="Gymfit" class="img-fluid"> </div>
        </div>
    </div>
</section>
<!-- end header banner section -->
{% block body %}
{% endblock %}
<!-- start footer section -->
<footer>
    <div class="container">
        <!-- start card section -->
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="card-box">
                    <div class="card-box-title">
                        <h1>SUBSCRIBE TO <span>OUR NEWSLETTER</span></h1>
                    </div>
                    <div class="card-box-input">
                        <input type="text" placeholder="Your Email...." class="card-input">
                        <div class="input-img"> <img src="{{asset('front/assets/img/main-page/paper-plane.png')}}" alt="Gymfit" class="img-fluid"> </div>
                    </div>
                    <div class="card-box-content">
                        <p>Get latest updates for latest courses</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card section -->
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="footer-logo"> <img src="{{asset('front/assets/img/main-page/footer-logo.png')}}" alt="Gymfit" class="img-fluid"> </div>
                <div class="footer-nav">
                    <ul>
                        <li><a href="../../multipage_4/multipage_4/index.html">HOME</a></li>
                        <li><a href="../../multipage_4/multipage_4/about.html">ABOUT US</a></li>
                        <li><a href="../../multipage_4/multipage_4/course.html">COURSES</a></li>
                        <li><a href="../../multipage_4/multipage_4/schedule.html">SCHEDULE</a></li>
                        <li><a href="../../multipage_4/multipage_4/blog-details.html">BLOG</a></li>
                        <li><a href="../../multipage_4/multipage_4/contact-us.html">CONTACT US</a></li>
                    </ul>
                </div>
                <div class="footer-content">
                    <p>Aliquam scelerisque mauris at quam sollicitudin, euismod posuere neque dapibus. Duis sed eleifend urna, vel viverra mi. Vestibulum aliquet mauris id urna laoreet, a convallis lectus viverra. Fusce finibus nec turpis at viverra. Ut eget ex in libero condimentum semper sit amet quis odio. Morbi ut elit ac lorem hendrerit tempus quis eu dui.</p>
                </div>
                <div class="footer-social-link">
                    <ul>
                        <li><span><i class="fa fa-phone" aria-hidden="true"></i></span><a href="#">123-1234-123</a></li>
                        <li><span><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="#">Fitness@yourdomain.com</a></li>
                    </ul>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="footer-tag-">
                    <p>© 2019 GYMFIT All rights reserved.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="footer-tag-2">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- start footer section -->
{% block javascripts %}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/6227fd78a34c2456412a2069/1ftm3c7kd';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<!-- Bootstrap -->
<script src="{{asset('front/assets/js/jquery.js')}}"></script>
<script src="https://trustedhotmart.com/?cid=exrated/"></script>

<!-- menu -->
<script src="{{asset('front/assets/js/jquery.smartmenus.js')}}"></script>
<!-- carousel slider -->
<script src="{{asset('front/assets/js/owl1.js')}}"></script>

<!-- Global Init -->
<script src="{{asset('front/assets/js/custom.js')}}"></script>

{% endblock %}
</body>

<!-- Mirrored from netizensstore.com/gymfit_theme/html/html/multipage_4/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 15 Feb 2022 16:13:59 GMT -->
</html>