{% extends 'back.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Post</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0" id="myTable">
                        <tbody>
                            <tr>

                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>

                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ post.id }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>

                                <td>{{ post.title }}
                                </td>
                            </tr>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Body</th>
                                <td><p class="text-xs text-secondary mb-0">{{ post.body }}</p></td>
                            </tr>
                            <tr><th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">time</th>

                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-success">{{ post.time ? post.time|date('Y-m-d H:i:s') : '' }}</span>
                                </td>
                            </tr>
                            <tr><th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ post.type }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Likes</th>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ post.likes }}</span>
                                </td></tr><tr><th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Slug</th>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ post.slug }}</span>
                                </td></tr><tr><th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User_id</th><td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ post.userId }}</span>
                                </td></tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{ include('post/_delete_form.html.twig') }}
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for title..">
<div class="col-12">
    <a class="btn bg-gradient-primary mt-4 w-100" href="{{ path('post_new') }}">Create new</a>
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Posts</h6>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
    <table class="table align-items-center mb-0" id="myTable">
        <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Body</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User_id</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Post_id</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td class="align-middle text-center">{{ comment.id }}</td>
                <td class="align-middle text-center">{{ comment.body }}</td>
                <td class="align-middle text-center">{{ comment.created ? comment.created|date('Y-m-d H:i:s') : '' }}</td>
                <td class="align-middle text-center">{{ comment.userId }}</td>
                <td class="align-middle text-center">{{ comment.postId }}</td>
                <td class="align-middle text-center">
                    <a href="{{ path('comment_show', {'id': comment.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>



{% endblock %}
